body{
    background-color: rgb(190, 173, 134);
}
.nav-link{
    text-align: center;
}


video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 400px;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/*
body{
    background-color: rgb(230, 209, 181);
    margin: 0;
}

.portada{
    width: 100vw;
    height: 800px;
}


*/

/* Quitar el fondo blanco de las imágenes */
/* .remove-bw {
    width: 300px;
    height: 200px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
*/
