* {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna (verticalmente) */
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    margin: 0;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

#myBox {
    width: 200px;
    margin: 20px;
    padding: 20px;
}

button {
    width: 39px;
    height: 35px;
}