#piezas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Añadimos espacio entre piezas */
    width: 450px; /* Ajustamos el ancho para acomodar mejor las piezas */
    margin: auto;
    justify-content: center;
}

#puzzle {
    border: 1px solid black;
    width: 450px; /* Ancho ajustado para que todas las piezas encajen horizontalmente */
    height: 450px; /* Alto ajustado a una estructura cuadrada */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.pieza {
    width: 100px; /* Ancho ajustado para que todas las piezas encajen horizontalmente */
    height: 100px;
    background-size: cover;
}

.placeholder {
    background-color: #F2F2F2;
    outline: 1px solid #333;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.placeholder.hover {
    background-color: orange;
}

#mensaje {
    color: black;
    text-align: center;
    display: none;
}

.ganaste {
    background-color: #B3D67C;
}

.ganaste #mensaje {
    display: block;
}

.ganaste .placeholder {
    outline: none;
}

.ganaste #piezas {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
